/*
Rosewater
#F8C0C8

Ivory
#EFE7D3

Lilac
#D3BBDD

Pewter
#ECE3F0


green
#d3f0d9

info
#D3E7F0
*/
$primary: #d3bbdd;
$secondary: #ece3f0;
$warning: #efe7d3;
$danger: #f8c0c8;
$success: #d3f0d9;
$info: #d3e7f0;

@import "node_modules/bootstrap/scss/bootstrap.scss";
